@import "tailwindcss";

@theme {
  --font-display: "Poppins", "sans-serif";

  --color-blue: #2bd0d0;
  --color-gray-blue: #9ae3e3;
  --color-gray: #eff1f7;
  --color-dark-gray: #9e9aa8;
  --color-purple: #4b3f6b;
  --color-dark-purple: #3a3054;
  --color-black: #34313d;
}
